

.filter {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  cursor: pointer;
  background-color: #c8e6f5;
  font-weight: bold;
  font-size: 15px;
  color: #fff;
}

.active-filter {
  // text-decoration: underline;
  background-color: #5ca0d3;
}

.visibilit-bar-div {
	margin: 10px;
}