$disabled-color: fade(#000, 25%);
$font-size-base: 14px;
$primary-color: #1890ff;


.loginForm {
	width: 388px;
	margin: 0 auto;
	// min-height: 100vh;
	// background-color: #f6f5f5;
	// margin: 0 auto;
	// // @media screen and ( max-width: 576px) {
	// // 	width: 95%;
	// // }
	// display: flex;
	// justify-content: center;
	// align-items: center;
}

.ant-tabs-bar {
	text-align: center;
	border-bottom: none;
}

.prefixIcon {
	color: $disabled-color;
	font-size: $font-size-base;
}

.submit {
	width: 100%;
	margin-top: 24px;
}

.login-form-forgot {
	float: right;
}

.signin-icon {
    margin-left: 16px;
    color: rgba(0, 0, 0, 0.2);
    font-size: 24px;
    vertical-align: middle;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: $primary-color;
    }
}


.other {
	margin-top: 24px;
	line-height: 22px;
	text-align: left;

	.register {
		float: right;
	}
}
